<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <header>
        <h1>Task Manager</h1>
        <button class="logout-btn" id="logoutButton">Logout</button>
    </header>
    <main>
        <form id="taskForm" class="task-form">
            <h2>Add/Update a Task</h2>
            <input type="text" id="title" placeholder="Title" required>
            <textarea id="description" placeholder="Description"></textarea>
            <div class="form-segment">
                <div class="tags-categories-container">
                    <div class="tags">
                        <label for="tags">Tags:</label>
                        <select id="tags" multiple></select>
                        <input type="text" id="newTag" placeholder="New Tag" />
                        <button type="button" id="addTag" class="add-btn">Add Tag</button>
                    </div>
                    <div class="categories">
                        <label for="categories">Categories:</label>
                        <select id="categories"></select>
                        <div class="categories-bottom">
                            <input type="text" id="newCategory" placeholder="New Category">
                            <button type="button" id="addCategory" class="add-btn">Add Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-segment">
                <div id="selectedTags" class="tag-container"></div>
                <div id="selectedCategories" class="categories-container"></div>
                <button id="submit" class="action-btn" type="submit">Add Task</button>
                <button id="update" class="action-btn" disabled>Update</button>
            </div>
        </form>
        <div class="task-list">
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Categories</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="taskTableBody"></tbody>
            </table>
        </div>
    </main>
</div>
<script src="/js/index.js"></script>
</body>
</html>
