<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>Task Manager</h1>
        <button class="logout-btn" id="logoutButton">Logout</button>
    </header>
    <main>
        <form id="taskForm" class="task-form">
            <h2>Add/Update a New Task</h2>
            <input type="text" id="title" placeholder="Title" required>
            <textarea id="description" placeholder="Description"></textarea>
            <button id="submit" type="submit">Add Task</button>
            <button id="update" disabled>Update</button>
        </form>
        <div class="task-list">
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="taskTableBody"></tbody>
            </table>
        </div>
    </main>
</div>
<script src="/js/index.js"></script>
</body>
</html>
